body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-gradient {
  background: linear-gradient(135deg, #f1f7fe 0%, #faf5ff 100%);
}
.min-vh-100 {
  min-height: 100vh;
}
.delete-btn:hover {
  background-color: #dc3545 !important; /* Bootstrap danger */
  border-color: #dc3545 !important;
  color: #fff !important;
}
